@charset "utf-8";
/* CSS Document */

body{
	display:block;
}
#header{
	background-image:url(../imagenes/cabecera1.png);
	width:959px;
	height:164px;
	left:10px;
	position:absolute;
	z-index: 1;
}
#encabezado{
	position:absolute;
	top:173px;
	left:25px;
	z-index:2;
	width:931px;
	height:106px;
	background-color:#333333;
	color:#FFF;
	}
#encabezado h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
}
#encabezado h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
}
#datos{
	position:absolute;
	border:2px #333 solid;
	width:931px;
	height:241px;
	top:287px;
	left:27px;
	z-index: 3;
	}
	
#otros{
	position:absolute;
	width:600px;
	left: 130px;
	top: 172px;
	display:none;
	z-index:4;
	}
#cuerpo{
	position:absolute;
	border:2px 2px 0px 2px #333 solid;
	width:931px;
	height:541px;
	top:255px;
	left:2px;
	z-index: 5;
}
.vista_datos{
	width:800px;
}
/*
TABLAS
*/
table{
	border: 1px solid #ccc;
	width: 500px;
	margin: 20px auto;
}
table tr th{
font: bold .9em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #fff;
background: #333333;
text-align: left;
padding: 5px;
border: 0;
}
table tbody tr td {
font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #DC4503;
background: #FEFFF1;
text-align: left;
padding: 5px;
border-top: 1px solid #eee;
}
/*
Botones 
*/
.boton{
	border:1px #333333 solid;
	background-color:#356FCE;
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	width:80px;
	height:20px;
}
caption{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#356FCE;
	font-style:italic;
}
.otros_datos{
	width:600px;
}
/*
FORMULARARIO
*/
input{
    border: 1px #333333 solid;
}
.detalle{
	background-color:#F4C25B;
}